
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
    

  </div>
  </div>
  <div class="gallery-conatiner">
    <div class="container-gallery-1">
      <img  class="gallery-1" src="../../../../assets/img/wine-w_1.jpg" alt="">
      <img class="gallery-2" src="../../../../assets/img/1knz0vi3l.jpg" alt="">
        </div>
        <div class="container-gallery-2">
          <img class="gallery-3" src="../../../../assets/img/banner_1.jpg" alt="">
        </div>
        <div class="container-gallery-3">
      <img class="gallery-4" src="../../../../assets/img/coctel_1.jpg" alt="">
      <img class="gallery-5" src="../../../../assets/img/snacks_1.jpg" alt="">
        </div>
        <div class="container-gallery-4">
          <img class="gallery-6" src="../../../../assets/img/roll.jpg" alt="">
        </div>
        
     
  </div>
  <div class="space-areas">&nbsp;</div>
  <div class="space-area">&nbsp;</div>
  <div class="space-area">&nbsp;</div>
