
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
  
  
  

  </div>
  </div>

<div class="container">

<div class="dialog"> 
  <mat-spinner class="spineer-i"> </mat-spinner><button (click)="showModal()"><img class="dialogo-i" src="../../../../assets/img/modal.jpg" alt=""></button>
</div>
<mat-list role="list">
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./cocktails"><p class="list-item-p">Cocktails <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button mat-button routerLink="./wine"><p class="list-item-p">Vinos <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./niguiris"><p class="list-item-p">Niguiris <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./soup" ><p class="list-item-p">Sopas <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./appetizers"><p class="list-item-p">Entradas <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./salads"><p class="list-item-p">Ensaladas <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./rolls"><p class="list-item-p">Rolls <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./thai"><p class="list-item-p"> Platos calientes estilo thai
 <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>
  <div class="list-rest">
    <a class="list-rest-item" mat-button routerLink="./sashimi"><p class="list-item-p">Sashimi <span class="arrow-item"><mat-icon class="arrow-f">chevron_right
    </mat-icon></span></p> </a>

  </div>

 
  <mat-list-item role="listitem">&nbsp;</mat-list-item>
  <mat-list-item role="listitem">&nbsp;</mat-list-item>
  <mat-list-item role="listitem">&nbsp;</mat-list-item>
  
</mat-list>
</div>