<div class="container">
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
  
  </div>
  </div>
  <div class="container-form">
<div class="container-form-1">
  
<div>
</div>  
  <form #validedmail="ngForm" (ngSubmit)="onCorreo(validedmail.value)"   class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="profile-info">Ingrese Correo Electrónico 
        </mat-card-title>
        <span> <mat-spinner *ngIf="isLoading" class="spinner-run" color="primary"></mat-spinner></span>
      </mat-card-header>
      <mat-card-content>
        <div class="example-container">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Ingresa correo electronico</mat-label>
            <input  type="email" name="email" ngModel matInput required >
          </mat-form-field>
          
        </div>
        <span class="text-warnd">{{messages}}</span>
      </mat-card-content>
      <mat-card-actions class="btn-float">
        <div class="spinner-border text-warning" role="status">
        </div>
        <button (click)="togleLoading()" type="submit"  mat-raised-button color="primary"><span class="padd-t">siguiente</span> </button>
      </mat-card-actions>
    </mat-card>

  </form>

        </div>
        <div class="card-body">
      </div>
        <div class="space-c"> &nbsp;</div>

</div>
</div>



