
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
  
  
  

  </div>
  </div>
<div class="container-contact-1">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Address">
<div class="contac-1">
  <div class="container-bambu">
  <img  class="bambu-img" src="../../../../assets/img/bambu.jpg" alt="">
</div>
<div class="text-bambu">
  <span class="space-text">Avenida Luis Roche</span>
  <span class="space-text">Quinta transversal de Altamira, hotel Altamira Village, pb-01</span>
  <span class="space-text">1060 Caracas,</span>
  <span class="space-text">Libertador</span>
  <div class="container-btn-map">
    <a class="btn-map" mat-raised-button href="https://goo.gl/maps/RSfhag1ZcH8iMLJu9" target="_blank" >SEE ON MAP</a>
    
  </div>
  
</div>
</div>
    </mat-tab>
    <mat-tab label="Contact">
      <div class="container-contact-2">
    <div class="container-mail">
      <span>
        <a  href="mailto:ban_thaii@hotmail.com" class="email">
          ban_thaii@hotmail.com
        </a>
      </span>
      
    </div>
    <div class="container-number"> 
      <span ><b class="phone-number">
        +584169844637
      </b> <b >-</b> <b  class="phone-number">
        +582122613601
      </b></span>
    </div>
    <div class="logos-contact">
     <span>
      <a href="https://www.instagram.com/bambu_altamira/?igshid=1cjv9iyh412u7" target="_blank" >
<img src="../../../../assets/img/icons/1312095_circle_instagram_outline_social-media_icon.png" alt=""></a>
     </span>
     <span class="separate-l">
     <a href="https://api.whatsapp.com/send/?phone=584128043539&text&type=phone_number&app_absent=0" target="_blank" > <img src="../../../../assets/img/icons/2062095_application_chat_communication_logo_whatsapp_icon.png" alt=""></a>
     </span> 
    </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="space-areas">&nbsp;</div>
<div class="space-area">&nbsp;</div>
<div class="space-area">&nbsp;</div>

