<div class="container-nav">
  <mat-button-toggle-group>
    <mat-button-toggle  mat-button-toggle  routerLink="" ><mat-icon class="color-icons">restaurant</mat-icon> <span class="nav-icons">Menu</span></mat-button-toggle >
    <mat-button-toggle  mat-button routerLink="./gallery" ><mat-icon>photo library</mat-icon> <span class="nav-icons">Galeria</span> </mat-button-toggle>
    <mat-button-toggle mat-button routerLink="./form" ><mat-icon>star
    </mat-icon> <span class="nav-icons">Puntuación</span></mat-button-toggle>
    <mat-button-toggle mat-button routerLink="./contact" ><mat-icon>call</mat-icon><span class="nav-icons">Contacto</span></mat-button-toggle>

    
</mat-button-toggle-group>
</div>



