<div class="container-1">
  <button mat-icon-button routerLink="" aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>chevron_left</mat-icon> 
  </button>
  <span class="title-cockt">Vinos</span>
</div>
<div class="container-2">
  <button  class="cocktail-bambu" mat-fab extended >
<span class="text-c-bambu">Blanco Italianos</span>
  </button>
</div>
<div class="container-3">
  <span></span>

  <mat-list>
    <div class="title-1" mat-subheader>Blanco Italianos</div>
    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    
    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item class="container-separate" *ngFor="let folder of folders">
      <div class="name-separate" matListItemTitle> <img class="img-boder-r" src="../../../../assets/img/wine.jpg" alt=""> <span class="text-prod">{{folder.name}}</span> 
      </div>
      <div class="number-float" matListItemLine>{{folder.number}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>
</div>
<div class="space-areas">&nbsp;</div>
<div class="space-area">&nbsp;</div>
<div class="space-area">&nbsp;</div>
<div class="space-areas">&nbsp;</div>
