.title-cockt{
  font-size: 22px;
}
.container-1{
  display: flex;
  align-items: center;
  background-color: #ECAE35;
  font-family: Merriweather !important;
}

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent{
  --mdc-fab-container-color: transparent !important;
  height: 24px;

}
.text-c-bambu{
font-size: 12px;
}
.cocktail-bambu{
  margin: 10px;
}

.container-2{
  background-color: #CF992F;
  height: 48px;
}

.container-3{
 
  background-color: #FFFCC7;
}

.container-separate{
  height: 140px !important;
}

.number-float{
  float: right;
}

.name-separate{
  display: flex !important;
}
.text-prod{
  margin-left: 10px;
}

.title-1{
  text-align: center;
}
.img-boder-r{
  border-radius: 8px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
 
}

.img-boder-a{
  border-radius: 8px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.scroll-container {
  max-height: 200px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-container ::-webkit-scrollbar {
 width: 0;
}

.scroll-container .cocktail-bambu{
  min-width:110px ;
  line-height: 110px;
  margin-right: 2px;
}

.container{
  position: fixed;
  z-index: 5;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 765px;
  width: 100%;
}

.space-areas{
  height: 60px;
}

.space-area{
  height: 30px;
}

.text-detail{
  margin-left: 10px;
  font-size: 10px;
}

.text-t-s{
  font-size: 24px;
}