
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
    

  </div>
  </div>
  <div class="gallery-conatiner">
    <div class="container-gallery-1">
      <img  class="gallery-1" src="../../../../assets/img/success.png" alt="">
        </div>
<p class="text-alig">Tu voto ya fue registrado con éxito.</p>
        
     
  </div>
  <div class="space-areas">&nbsp;</div>

