
<div class="container-img-banner">
  <div class="img-banner">
    <div class="menu-title">

    
  <div class="title-content">
    <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
    <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Español</button>
        <button mat-menu-item>English</button>
      </mat-menu></span>
    </div>
  </div>

</div>
</div>
<div class="container-form">
<div class="container-form-1">
<form class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="profile-info">Votación</mat-card-title>
    </mat-card-header>
    <div class="dis-flex">
    <mat-card-content>
      <mat-radio-group aria-label="Select an option">
        <span class="space-round-b">        <mat-radio-button color="primary" value="1">Opción A</mat-radio-button></span>
        <mat-radio-button color="primary" value="2">Opción B</mat-radio-button>
      </mat-radio-group>
   

    </mat-card-content>
   </div>
    <div class="aling-r-b">
    <mat-card-actions>
    
      <button   mat-raised-button color="primary">Votar</button>
    </mat-card-actions>
  </div>
  </mat-card>
</form>

    </div>
</div>



