
<div class="container-img-banner">
  <div class="img-banner">
    <div class="menu-title">

    
  <div class="title-content">
    <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
    <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Español</button>
        <button mat-menu-item>English</button>
      </mat-menu></span>
    </div>
  </div>

</div>
</div>
<div class="container-form">
<div class="container-form-1">
<form  #voteOption="ngForm" class="form-container" (ngSubmit)="onVote(voteOption.value)">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="profile-info">Votación</mat-card-title>
    </mat-card-header>
    <div class="dis-flex">
    <mat-card-content>
      <mat-radio-group name="option" [(ngModel)]="option2">
             
          <mat-radio-button type="radio" color="primary" [value]="1" name="option2">Opción A</mat-radio-button>
          <mat-radio-button type="radio" color="primary" [value]="2" name="option2">Opción B</mat-radio-button>
      </mat-radio-group>
   

    </mat-card-content>
   </div>
    <div class="aling-r-b">
    <mat-card-actions>
    
      <button  type="submit" routerLink="../succes"   mat-raised-button color="primary">Votar</button>
    </mat-card-actions>
  </div>
  </mat-card>
</form>

    </div>
</div>



