
  <div class="container-img-banner">
    <div class="img-banner">
      <div class="menu-title">
  
      
    <div class="title-content">
      <h2><span class="titulo-banner">RESTAURANTE BAMBÚ</span> </h2>
      <span class="btn-abs">  <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/img/icons/spain.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu></span>
      </div>
    </div>
  
  
  

  </div>
  </div>
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    <mat-button-toggle value="red">Red</mat-button-toggle>
    <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>
  </mat-button-toggle-group>